@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    max-width: 1120px !important;
}
.logo {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -0.02em;
}

.app-font {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 200;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;
}

.bg-color {
    background: #1E71FF;
}
.pricing{
    color: #2B353EB2;
}
.star-5{
    color: #2B353EB2;
}
.try-it-free {
    background: #FFFFFF33;
    border:none;
    padding: 8px 24px;
    border-radius: 210px;
    transition: all .3s linear;
}
.try-it-free:hover{
    background:#e9d9d933;
    opacity: 60%;
}
.color-team{
    color: #2B353EB2;
}
.op-hover:hover{
    opacity: 60%;
}
.margn-botton{
    margin-bottom: 146px;
}
.padding-bottom{
    padding-bottom: 160px;
}
.mt-90{
    margin-top: 80px;
}
.py-124{
    padding-top: 120px;
    padding-bottom: 100px;
}
.padding-y-184{
    padding-bottom:140px;
    padding-top: 64px;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: -0.02em;

}
.line{
     background-color: #2B353E26;
    width: 150px;
    height: 1px;
}

.left {
    left: -80px;
}.star-font{
    font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 700;
text-align: left;

}
.font-span{
    font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 400;
text-align: left;

}

.font-roboto-400 {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400

}
.font-roboto-400-13{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.font-roboto-500 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.roboto-500-14 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.75px;
}

.poppins-26 {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -2%;
}

.poppins-500-45 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
}

.roboto-400-18 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.button {
    background: none;
    border: 1px solid #FFFFFF;
    padding: 15px 42px;
    border-radius: 60px;
    transition: all .3s linear;
}
.button:hover{
    background: white;
    color: #1E71FF!important;
}
.mt-180{
    margin-top: 100px;
    margin-bottom: 30px;
}

.button-2 {
    border: 1px solid #1E71FF;
    padding: 15px 42px;
    border-radius: 60px;
    transition: all .3s linear;
}
.button-2:hover{
    background:#1E71FF;
    color: white !important;
}
.bg-none{
    background: none;
}
.max-width-566{
    max-width: 566px !important;
}

.gap-30 {
    gap: 30px;
}

.ml-36 {
    margin-left: 36px;
}


.mb-40{
    margin-bottom: 40px;
}

.color {
    color: #1E71FF;
}

.text-color {
    color: #2B353EB2;
}
.instant{
    color:#2B353E;

}
.lorem{
    color:#2B353EB2;
}
.mb-12{
    margin-bottom: 12px;
}

.back-g-color {
    background: #1E71FF1A;
}
.max-width-400{
    max-width: 400px;
}
.max-width-467{
    max-width: 467px;
}
.hover-underline{
    transition: all .9s linear;
}
.hover-underline:hover{
    text-decoration: underline !important;
}


/*-------------------responsiv------------------------------------------------------*/

@media (max-width:992px) {
    .navbar-items {
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color:#1E71FF;
        position: fixed !important;
        top: 0;
        right: -100%;
        z-index: 4;
        transition: all 0.3s;
        height: 100vh;
    }

    label[for="menubar"] {
        width: 32px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
    }

    label[for="menubar"] span {
        width: 100%;
        height: 5px;
        margin: 2px 0;
        background-color: white;
        z-index: 5;
    }

    input[type="checkbox"]:checked~.navbar-items {
        right: 0;
    }
    .star{
        flex-direction: column;
    }

    .font-roboto-500 {
        font-size: 8px;
    }

    .font-roboto-400 {
        font-size: 11px;
    }

    .button {
        padding: 9px 32px;
    }

    .button-2 {
        padding: 9px 32px;
    }

    .font-poppins {
        font-size: 50px;
        line-height: 60px;
    }

    .poppins-500-45 {
        font-size: 35px;
        line-height: 40px;
    }

    .roboto-400-18 {
        font-size: 14px;
        line-height: 15px;
    }
    .mt-180{
        margin-top: 20px;
    }
    .max-width-467{
        max-width: 467px;
    }
    .padding-y-184{
        padding-bottom:50px;
        padding-top: 20px;
    }
    .max-width-400{
        max-width: 300px;
    }
    .line{
        max-width: 90px;
    }
    
}
@media (max-width:512px){
    .padding-y-184{
        padding-bottom:50px;
        padding-top: 0;
    }
    .poppins-500-45 {
        font-size: 25px;
        line-height: 30px;
    }
    .py-124{
        padding-top: 50px;
        padding-bottom: 20px;
    }
}